.product{
    width: 280px;
    height: 500;
}

.product img{
    width: 250px;
    border-radius: 10px;
}
.product-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}